# PostgreSQL
STATIFY_DATA_STORAGE_POSTGRES_USER=postgres
STATIFY_DATA_STORAGE_POSTGRES_PASSWORD=Default123!
STATIFY_DATA_STORAGE_POSTGRES_DOCKER_R2DBC_URL=r2dbc:postgresql://postgres-data-storage:5433/statify-data-storage

# Kafka
SPRING_KAFKA_BOOTSTRAP_SERVERS_DOCKER=kafka:9092

# HTTP
HTTP_CLIENT_TIMEOUT_SECONDS=5

# Spotify API
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
SPOTIFY_API_URL=https://api.spotify.com/v1
SPOTIFY_AUTH_URL=https://accounts.spotify.com/api/token

# Music Brainz API
MUSIC_BRAINZ_API_URL=https://musicbrainz.org/ws/2/

# Redis
REDIS_PASSWORD=your_redis_password
REDIS_PORT=6379

# Synchronizer
STATIFY_SYNCHRONIZER_PORT=8082