# PostgreSQL
STATIFY_DATA_STORAGE_POSTGRES_USER=postgres
STATIFY_DATA_STORAGE_POSTGRES_PASSWORD=Default123!
STATIFY_DATA_STORAGE_POSTGRES_DOCKER_JDBC_URL=jdbc:postgresql://postgres-data-storage:5433/statify-data-storage

# Application Configuration
STATIFY_DATA_API_PORT=8081
STATIFY_DATA_API_URL=http://localhost:8081
